* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #e7eadf;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

#to-do-form {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding: 10px;
  width: 400px;
  height: 300px;
  background-color: #e7eadf;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-show-add-tasks {
  font-family: monospace;
  border: 1px solid DarkSlateGray;
  border-radius: 5px;
  padding: 10px;
  background: #273e5d;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.btn-add-task {
  font-family: monospace;
  border: 1px solid #273e5d;
  border-radius: 5px;
  padding: 8px;
  box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
  background: #7ec3be;
  margin-top: 10px;
  margin-bottom: 60px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.container-priority {
  display: flex;
  flex-direction: row;
}

.alert {
  display: none;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  font-size: 1rem;
  width: 500px;
  border: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 20px;
  background-color: #ced6ca;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
}

.btn-delete-task {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-close-modal {
  border: none;
  background: none;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}

#taskchecked {
  margin-top: 20px;
}

.isComplete {
  text-decoration: line-through;
}

.btn-show-add-tasks-not-done {
  font-family: monospace;
  border: 1px solid DarkSlateGray;
  border-radius: 5px;
  padding: 10px;
  background: #7ec3be;
  font-weight: bold;
  color: DarkSlateGray;
  cursor: pointer;
}

.lista-vazia {
  margin-top: 40px;
  font-size: 1.5rem;
}

#new-task {
  width: 250px;
  margin: 30px;
}
